<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Uber</title>
    </head>
    <body>
        <h4>Simmulando dados que viriam do login</h4>
        <form action="/api/createChamado">
            <input type="text" id="name" name="name" value="Passageiro 1">
            <input type="text" id="telefone" name="telefone" value="Telefone 1">
            <input type="text" id="endereco" name="endereco" value="Passageiro 1">


            private String logradouro;
            private int numero;
            private String cep;
            private String complemento;
            private String estado;
            private String cidade;




        </form>

        <button onclick="SalvaNovoUsuarionoBD()">
            Salva no BD
        </button>
        <script>
            async function SalvaNovoUsuarionoBD(){
                try {
                url='/api/createChamado';
                response = await fetch(url);

                } catch (exception){
                    console.error(exception)
                }
                
            }
        </script>
    </body>

</html> -->